<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Edit User</h3>
                </div>
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="form-group">
                            <label >Name:</label>
                            <input type="text" name="name" id="name" v-model="user.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label >Email</label>
                            <input type="email" name="email" id="email" v-model="user.email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label >Mobile No </label>
                            <input type="text" name="mobno" id="mobno" v-model="user.mobno" class="form-control">
                        </div>
                        <div class="form-group p-5">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'add-user',
    data(){
        return{
            user:{
                name:'',
                email:'',
                mobno:'',

            },
             _method:"post"
        }
    },
    mounted(){
        this.showUser()
    },
    methods: {
        async update(){

            await this.axios.post(`/api/user/${this.$route.params.id}`,this.user).then(response=>{
                this.$router.push({name:'userList'})
            }).catch(error=>{
                    console.log(error)
                })
        },
        async showUser(){
            await this.axios.get(`/api/user/${this.$route.params.id}`).then(response=>{
                const{name,email,mobno}=response.data
                this.user.name=name
                this.user.email=email
                this.user.mobno=mobno
            }).catch(error=>{
                console.log(error)
            })
        }
    },
}
</script>
