<template>
<div class="row">
    <div class="col-md-12 text-right">
        <router-link :to="{name: 'AddUser'}" class="btn  btn-primary"> Add User</router-link>
    </div>
    <div class="col-md-12 mt-4">
        <div class="card">
            <div class="card-header">
                User List
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody v-if="users.length>0">
                        <tr v-for="(user,key) in users" :key="key">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.mobno}}</td>
                            <td>
                                <router-link :to="{name:'EditUser',params:{id:user.id}}" class="btn btn-sm btn-info">Edit</router-link>
                                <button type="button" @click="deleteUser(user.id)" class="btn  btn-sm btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr>
                            <td colspan='5'>No User Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
 name: 'user-list',
 data(){
     return{
         users:[]
     }
 },
 mounted(){
     this.getUsers()
 },
 methods: {
     async getUsers(){
         await this.axios.get('/api/user/list').then(response=>{
             this.users=response.data
         }).catch(error=>{
             console.log(error)
             this.users=[]
         })
     },
      deleteUser(id){
          this.axios.delete(`api/user/${id}`).then(response=>{
             this.getUsers()
         }).catch(error=>{
             console.log(error)
         })
     }

 },
}
</script>
